<h2>Editing Professional</h2>

<%= render 'form', professional: @professional %>

<%= link_to 'Show', @professional, class: "btn btn-primary btn-sm" %> |
<%= link_to 'Back', professionals_path, class: "btn btn-secondary btn-sm" %>
