require 'erb'

headers = %w[]
rows = [%w[], %w[]]
title = 'Turnos'

template = ERB.new <<~END, nil, '-'
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
  </head>
  <body>
    <table>
      <tr>
      <%- headers.each do |header| -%>
        <th><%= header %></th>
      <%- end -%>
      </tr>
    <%- rows.each do |row| -%>
      <tr>
      <%- row.each do |column| -%>
        <td><%= column %></td>
      <%- end -%>
      </tr>
    <%- end -%>
    </table>
  </body>
</html>
END