$dark-grey: #5d5d5d;
$light-grey: #dedede;
$white: #fff;

body {
    background-image: image-url("bg-img.jpg");
}

.page-nav {
    background:  $light-grey;
    margin-bottom: 20px;
}
#topnav {
    margin-top: 20px;

    li {
        display: inline;
        padding: 5px 7px;
    }

    a { 
        color: $dark-grey;
    }

}

#site-name {
    font-size: 36px;
    margin-top: 10px;
}

#footer {
    border-top: 1px solid $light-grey;
    padding-top: 20px;
    margin-top: 20px;
}

a:link { text-decoration: none; 
       }


a:visited { text-decoration: none; 
        }


a:hover { 
    text-decoration: none;
    background-color: inherit; 
    } 


a:active { text-decoration: none; }

