<h2>Editing Appointment</h2>

<%= render 'form', professional: @professional, appointment: @appointment %>

<%= link_to 'Show', [@professional, @appointment], class: "btn btn-primary btn-sm" %> |
<%= link_to 'Back', professional_appointments_path(@professional), class: "btn btn-secondary btn-sm" %>
