<h1>Editing Appointment</h1>

<%= render 'form', professional: @professional, appointment: @appointment %>

<%= link_to 'Show', [@professional, @appointment] %> |
<%= link_to 'Back', professional_appointments_path(@professional) %>
