<h2>New Export</h2>

<%= render 'form', export: @export %>
<%= link_to 'Back', root_path, class: "btn btn-secondary btn-sm" %>
<%= link_to 'New Export', export_pdf_path, class: "btn btn-success btn-sm" %>
