<div class="container bg-white">
    <div class="row">
        <div class="col" id="footer">
            <p>Copyright &copy; <%= Date.current.strftime('%Y')%> Polycon</p>
        </div>
    </div>
</div>


